﻿@{
    ViewBag.Title = "Word";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div class="row">
    <button onclick="window.open('http://localhost:19444/home/GetFileFromDisk', '_blank', '');" type="button">Download file</button>
</div>